body {
    background:linear-gradient(#8b7b1b, #c2a10f,#2e2055) ;
    overflow: hidden;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: #e0bf00;
    text-shadow: 4px 4px 4px rgb(202, 172, 74);
    font-size: xx-large;
}

img {
    display: inline;
    position: relative;
    bottom: 40px;
    left:50px;
}

p {
    display: inline;
    margin-top: 100px;
    padding: 20px;
    font-size: medium;
    color: #0d064d;
    border-radius: 15px;
    box-shadow: 2px 6px 2px #7f9c22a0;
    position: relative;
    right: 50px;
}

.img_deg{float: left;}

.pos_cen{position: absolute; left: 32%;
    

}