div {
    width: 200px;
    height: 400px;
    

}

body {
    background:linear-gradient(#000000, #4e0101,#4e0101) ;
}


h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: rgb(145, 8, 8);
    
    font-size: xx-large;
}
.bp {
    width: 200px;
    height: 300px;
    background-image: url("Characters/images/blackpanther.webp");
    background-size: cover;
    display: inline-block;
    border-radius: 8px;
   
   
}

.bp:hover {
    background-size: cover;
    transition: 1.5s;
    transform: scale(1.05);
   
}

.im {
    width: 200px;
    height: 300px;
    background-image: url("Characters/images/ironman.webp");
    background-size: cover;
    display: inline-block;
    border-radius: 8px;
}

.im:hover {
    background-size: cover;
    transition: 1.5s;
    transform: scale(1.05);
}

.ca {
    width: 200px;
    height: 300px;
    background-image: url("Characters/images/captainamerica.webp");
    background-size: cover;
    display: inline-block;
    border-radius: 8px;
}

.ca:hover {
    background-size: cover;
    transition: 1.5s;
    transform: scale(1.05);
}

.sp {
    width: 200px;
    height: 300px;
    background-image: url("Characters/images/spiderman.jpg");
    background-size: cover;
    display: inline-block;
    border-radius: 8px;
}

.sp:hover {
    background-size: cover;
    transition: 1.5s;
    transform: scale(1.05);
}

.wv {
    width: 200px;
    height: 300px;
    background-image: url("Characters/images/Wolverine.webp");
    background-size: cover;
    display: inline-block;
    border-radius: 8px;
}

.wv:hover {
    background-size: cover;
    transition: 1.5s;
    transform: scale(1.05);
}
