@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", serif;
    font-weight: 400, 700;
    font-size: 16px;
    background-color: hsl(218, 22%, 67%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.603);
}

.container2 {
    background-color: rgb(74, 190, 189);
    color: white;
}

.Subscription {
    background-color: rgb(43, 179, 177);
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: 2px solid hsl(71, 73%, 54%);
    border-radius: 6px;
    width: 183px;
    height: 38px;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.445);
    cursor: pointer;
    transition: 0.24s;
    outline: none;
}

button:hover {
    background-color: transparent;
    text-shadow: 0px 0px 20px white;
    transition: 0.24s;
}

.description h1 {
    color: rgb(63, 165, 161);
}

.description h2 {
    color: hsl(71, 73%, 54%);
}

p {
    color: rgb(188, 193, 199);
}